{% extends "base.html" %}
{% block content %}
{{ block.super }}

    <div class="col-sm-6 col-sm-offset-3">

        <h1>Formulário</h1>

        <form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-default" name="button">Criar</button>
        </form>
    </div>
{% endblock content %}
