{% extends "base.html" %}
{% block content %}

    <h1>{{ title }}</h1>

    <form method="get">
        <input type="text" name="q" placeholder="Buscar Posts" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
    </form>
    <br><br><br>
    <div class="row">
    {% for obj in object_list %}

        <div class="col-sm-6">
            <div class="thumbnail">
                {% if obj.image %}
                <img src='{{ obj.image.url }}' class='img-responsive' alt="" />
                {% endif %}
                <div class="caption">
                    {% if obj.draft %}<h3 style="color: red;">Staff only: Draft</h3>{% endif %}
                    {% if obj.publish > today %}<h3>Staff only: Future Post</h3> {% endif %}
                    <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3> <!-- {{ obj.timestamp|timesince }} -->
                    {% if obj.user.get_full_name %}
                    <p>
                        Author: {{ obj.user.get_full_name }}
                    </p>
                    {% endif %}
                    <p>{{ obj.content|linebreaks|truncatechars:120 }}<br> <!-- truncatechars irá colocar reticências após X caracteres --></p>
                    <p><a href='{{ obj.get_absolute_url }}' class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        </div>


    {% cycle "" "<div class='col-sm-12'><hr/></div></div><div class='row'>" %}
    {% endfor %}


    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">Anterior</a>
            {% endif %}

            <span class="current">
                Página: {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">Próxima</a>
            {% endif %}
        </span>
    </div>




    </div>

{% endblock content %}
