{% extends "base.html" %}
{% load urlify %}

{% block head %}
    {{ instance.title }} || {{block.super}}
{% endblock head %}

<style> Isso nao aparece por nao estar dentro do block
{% block style %}

{% endblock style %}
</style>

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        {% if instance.image %}
        <img src='{{ instance.image.url }}' class='img-responsive' alt="" />
        {% endif %}
        <h1>{{ title }} <small>{% if instance.draft %} <span style="color:red;">Draft</span>{% endif %} {{ instance.publish }}</small></h1> <!-- {{ instance.timestamp|timesince }} -->
        {% if instance.user.get_full_name %}

        <p>
            Author: {{ instance.user.get_full_name }}
        </p>
        {% endif %}

        <p>
            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            <hr/>
        </p>

        <!-- {{ instance.content|truncatechars:28|urlify }} -->



        <!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
            Facebook
        </a>

        <a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
            Twitter
        </a>

        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
            Google +
        </a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
            Linkedin
        </a>

        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">
            Reddit
        </a> -->

        <div class="row">
            <div class="col-sm-12">

                {{ instance.content|linebreaks }}<br>

                <hr/>
                <br>
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

            </div>
        </div>




    </div>

{% endblock content %}
